@font-face {
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-family: "Roboto-Regular";
    /*APELIDO*/
}

@font-face {
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-family: "Roboto-Medium";
}

@font-face {
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-family: "Roboto-Bold";
}


/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto-Regular";
    background-color: #D9DFE7;
}


/* Generics Styles */

.status--active {
    color: #00A5DD !important;
}

.status--received {
    color: #30D38F !important;
}

.status--waiting {
    color: #FDAA8B !important;
}

.bk-status--received {
    background-color: #30D38F !important;
}

.bk-status--waiting {
    background-color: #FDAA8B !important;
}

.persona1 {
    background-image: url(../images/pfk01.png);
}

.persona2 {
    background-image: url(../images/pfk02.png);
}

.persona3 {
    background-image: url(../images/pfk03.png);
}

.persona4 {
    background-image: url(../images/pfk04.png);
}

.persona5 {
    background-image: url(../images/pfk05.png);
}

.persona6 {
    background-image: url(../images/pfk06.png);
}

.persona7 {
    background-image: url(../images/pfk07.png);
}


/*************** HEADER ***************/


/* mobile first */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 150px;
    background-color: #00A5DD;
    background-image: linear-gradient(180deg, #00A5DD, #46BEE6);
    color: white;
}

header h1 {
    font-size: 22px;
}

header i {
    font-size: 20px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    width: 50px;
}


/***************** MAIN  *****************/

.page-content {
    margin-bottom: 70px;
}

.card-box {
    position: relative;
    top: -30px;
    left: 0;
    width: 90%;
    margin: 0 auto 20px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.card-title {
    font-family: "Roboto-Medium";
    font-size: 14px;
    margin-bottom: 10px;
}

.card {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: .5px solid #e5e4e4;
}

.card-perfil {
    position: relative;
    width: 55px;
    height: 55px;
    background-color: purple;
    /* background-image: url(../images/pfk07.png); */
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.card-counter {
    position: absolute;
    bottom: 0;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: #30D38F;
    color: white;
    font-size: 10px;
    border-radius: 50%;
}

.card-info {
    width: 60%;
}

.card-name {
    margin-top: 5px;
}

.card-status {
    margin-top: 5px;
    /* color: #30D38F; */
    font-size: 13px;
}

.card-price {
    font-family: "Roboto-Bold";
}


/*************** FOOTER ***************/

.menu-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 10%;
    background-color: white;
    border-radius: 20px 20px 0 0;
}

.menu-item {
    font-size: 20px;
    color: #D9DFE7;
}


/* BREAKPOINTS */


/* TABLETS */

@media screen and (min-width:768px) {
    header {
        padding: 10px 30px;
        height: 180px;
    }
    header h1 {
        font-size: 32px;
    }
    .search-box {
        width: 60px;
    }
    header i {
        font-size: 24px;
    }
    /* css do main */
    .card-title {
        font-size: 20px;
    }
    .card-perfil {
        width: 85px;
        height: 85px;
    }
    .card-name {
        font-size: 24px;
    }
    .card-price {
        font-size: 24px;
    }
    .card-status {
        font-size: 18px;
    }
    .card-counter {
        width: 20PX;
        height: 20px;
        font-size: 13px;
    }
    /* footer */
    .menu-bottom {
        height: 85px;
    }
    .menu-item {
        font-size: 28px;
    }
    .card {
        padding-bottom: 12px;
    }
    .card-box {
        margin-bottom: 40px;
    }
}


/* desktop */

@media screen and (min-width:992px) {
    .card-box {
        max-width: 950px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* border: 1px solid yellow; */
    }
    .card-title {
        width: 100%;
        /* border: red solid 1px; */
    }
    .card {
        flex-direction: column;
        width: 150px;
        /* border: 1px solid green; */
        align-items: center;
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        transition: box-shandow 0.3s;
        margin: 20px;
    }
    .card:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    }
    .card-info {
        /* border: 1px solid goldenrod; */
        font-size: 16px
    }
    .card-info {
        width: 90%;
        margin-top: 20px;
    }
    .card-name {
        font-size: 16px;
        align-items: center;
    }
    .card-status {
        font-size: 12px;
        text-align: center;
    }
    .card-price {
        /* border: 1px solid goldenrod; */
        margin-top: 20px;
    }
    .card-perfil {
        width: 100px;
        height: 100px;
    }
    .card-counter {
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        font-size: 15px;
    }
}


/* desktop */

@media screen and (min-width:1200px) {
    .page-content {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        /* border: 3px solid red; */
    }
}